@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.shadow-custom{
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.7);
}

.slick-prev,
.slick-next {
    /* font-size: 30px; */
    color: black;
}

.slick-prev::before,
.slick-next::before {
    /* font-size: 30px; */
    color: black;
  
}



@media (max-width: 1180px) {
    .slick-prev, .slick-next {
    z-index: 1;
    top: 50%;
  }
  
  .slick-prev {
    left: 10px;
  }
  
  .slick-next {
    right: 22px;
  }
  
  .slick-prev:before, .slick-next:before {
    font-size: 30px;
    color: black; 
  }
   
  }
  
  /* *{
    border: 1px solid red;
  } */

 

/* /////////////////////////////// */


.small_text h6{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.flex_img{
    width: 100px;
    height: 60px;
}
.table-container {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #4B78BB;
    padding: 8px;
    text-align: left;
    transition: .15s;
    cursor: pointer;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #E6FAFB;
}

tr:hover {
    background-color: #95b6b6;
    color: #fff;
}

th, td {
    padding: 15px;
}

th {
    background-color: #268382;
    color: white;
}
.los{
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}
.dsa{
    text-align: left;
}
.main__info h2{
    text-align: center;
    margin-bottom: 10px;
}
.main__text{
    padding-left: 150px ;
    margin-bottom: 10px;
}
.map{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    margin-bottom: 50px;
}
.map iframe{
    width: 70%;
}
.title{
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}
.flex_div{
    padding: 0 20px;
    margin-bottom: 20px;
}
.div_h4{
    margin-left: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
}
.div_pd{
    padding-left: 30px;
    margin-bottom: 20px;
    padding: 10px 30px;
}
.big_flexx{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.small{
    width: 200px;
    height: 200px;
    outline: 2px solid #268382;
}
.small img{
    width: 100%;
    padding: 10px;
}
.small h2{
    font-size: 20px;
    background-color: #268382;
    color: #fff;
    width: 90%;
    display: flex;
    text-align: center;
    transform: translateY(-15px);
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-weight: 500;
}
.mySwiper{
    width: 400px;
    height: 300px;
    border: 1px solid red;
}
.swiper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
}
.swiper_child{
    width: 380px;
    height: 400px;
}
.swiper_child img{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}
.swiper_child h3{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #268382;
}
.contact-info {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .contact-item {
    border: 2px solid #268382;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    width: 20%;
  }
  
  .contact-item h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .contact-item p {
    margin: 5px 0;
  }
  
  .form {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form label {
    margin-top: 10px;
  }
  
  form input,
  form textarea {
    width: 80%;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
/* 
  *{
    border: 1px solid red;
  } */

  
.wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 25px;
}

.wrapper .wrapper-left-link{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.wrapper-left-link a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    padding: 10px 0;
    border-bottom: 2px solid #732323;
    width: 100%;
    text-align: center;
}

.wrapper .wrapper-right-content{
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.wrapper-right-content .wrapper-right-first-box{
    width: 100%;
}

.wrapper-right-first-box .wr-ri-first-box-title{
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.wr-ri-first-box-title h1{
    font-size: 21px;
    color: #00008B;
    font-weight: 700;
}

.wrapper-right-first-box .wr-ri-first-box-wrap{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.wr-ri-first-box-wrap-img img{
    width: 300px;
}

.wr-ri-first-box-wrap .wr-ri-first-box-wrap-text{
    padding: 0 15px;
}

.wr-ri-first-box-wrap-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    color: #000;
    margin-bottom: 25px;
}

.wr-ri-first-box-wrap-text a{
    font-size: 18px;
    color: #00008B;
    text-decoration: none;
}

.wr-ri-first-box-wrap-text a:hover{
    text-decoration: underline;
}

.first-section-main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}

.first-section-main .first-top-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 25px 0;
}

.first-section-main .first-body-main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.first-body-main .calendar-main-first{
    width: 350px;
    height: auto;
}

.calendar-main-first .calendar-heading{
    width: 100%;
    height: auto;
    padding: 5px 0;
    background-color: #732323;
    text-align: center;
}

.calendar-heading h2{
    font-size: 20px;
}

.calendar-heading h2 a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
